# Core Web Framework
fastapi~=0.115.8
uvicorn~=0.34.0

# ML & Vector Processing
faiss-cpu~=1.10.0
sentence-transformers~=3.4.1

# Image Processing
pillow>=9.0.0

# LLM Integration
torch>=2.1.2
torchvision
torchaudio
transformers>=4.0.0

# Template & Utilities
python-dotenv~=1.0.1
langdetect~=1.0.9

huggingface_hub>=0.14.0
python-multipart>=0.0.6
tqdm>=4.65.0
requests>=2.28.0
